
body{
    background-color: #C2CDD7;
}
#hoja{
    position: relative;
    width:100%;
    max-width: 900px;  
     min-height: 100px;
    /*margin-left: 20%;
    margin-right: 20%;*/
    margin: auto;
    top: 50px;
    background-color:rgb(255, 255, 255);
    height:1100px;
    box-shadow: 0 35px 55px 50px #9BA2AC;
}
.margen{
    background-color:#00959C;
}
#msup{
    height: 20px;
    width: 350px;;
    display: inline-block;
}
#mlat{
    width: 20px;
    height: 600px;
    float: right;
}
#minf{
    height: 20px;
    width: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
}
#contenedor{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
    column-gap: 10px
}
img{
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(0, 149, 156);
    padding: 10px;
    width: 170px;
    height: 170px;
    border-width: 2px;
    left: 0;
   margin: 20px;
}

#lsup{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / 3;
    align-items: center;
    border-bottom:3px solid #00959C;
    padding-bottom: 5px;
    
}
#nombre{
    background-color: #E6F3F2;
    padding-left: 20px;
}
.nombre{
    font-size: 30px;
    margin-bottom: 0px;
}
/*#redes,#idiomas,#expe{
    border-bottom:3px solid #00959C;
}*/
.icon{
    color: #00959C;
}
ul{
    list-style-type:disc ;
   /* border-left:2px solid #00959C;*/
    padding-left: 1em;
    margin: 0px;
    margin-top: 1em;
}
li{
    margin: 0px;
    padding-top: 0;
    color: #00959C;
    outline: #00959C;
}
#redes,#expe,#idiomas,#habi,#forma{
   margin-top: 5px;
   border-bottom:3px solid #00959C;
   
   
}
li h3{
    color: black;
    margin: 0;
}
h4{
    margin: 0;
}
li p{
    margin: 0;
    color: black;
}
li span{
    color: black;
}
.secundario{
    color: #00959C;
}
.percent
{
position: relative;
width: 100%;
height: 6px;
background:#E6F3F2;
display: block;
margin-top: 5px;
}
.percent div
{
position: absolute;  
top: 0;
left: 0;
height: 100%;
background:#00959C;
}
#forma ul li{
    margin-bottom: 5px;
}
#habi ul{
    padding-bottom: 10px;
}
