@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: #f5f5f5;
 
}

header {
    height: 100px;
}

#icon_menu {
    display: none;
}

.container_header {
    max-width: 1500px;
    height: 100%;
    margin: auto;
    padding: 30px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 320ms;
}

.menu nav ul li a:hover {
    opacity: 0.3;
}

/*imagenes  del logo */
.logo img {
    width: 250px;
}
.mostrarU img {
  width: 60px;  
  }

.btn_login {
    width: 100%;
    border-radius: 50px;
    margin: 5px;
    padding: 3px 10px;
    border: none;
    background-color: rgb(109, 107, 107);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background, color, 300ms;
    align-items: center;
  }
    
  .btn_login:hover {
    background: cornflowerblue;
    color: white;
  }
 
/*-----------------------------------------------*/
/*baner de editar*/
.cuerpo1{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;

}
.containerEditar {
    float: left;
    max-width: 0px;
    width:100%;
    height:100vh;
    overflow: hidden;
    margin-right: 10%;
}
.editar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background:rgba(173, 174, 176, 0.357);
    height:100%;
    

}
.EDITAR{
    display: block;
    position: relative;
    transform: translateX(-1px);
    margin-bottom: 20px;
   transition:all 300ms;
}
.EDITAR:before{
    content: '';
    position: absolute;
    left: -20;
    height: 100%;
    transition: all 300ms;
}
.editar form {
    width: 100%;
    padding: 10px 1px;
    position: relative;
    border-radius: 10px;

}

.editar form h1 {
    text-align: center;
    color: rgb(58, 57, 57);
    font-size: 20px;
}

.editar form input {
    width: 100%;
    margin-top: 15px;
    border: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
}

.editar .Guardar {
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    background: rgb(94, 163, 140);
    color: white;
    cursor: pointer;
    outline: none;
}

.editar .Deshacer {
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    background: rgb(170, 60, 60);
    color: white;
    cursor: pointer;
    outline: none;
}
.toggle{
    display: inline-block;
    margin: 10px;
    padding: 12px 16px;
    font-weight: 600;
    background:rgb(100, 114, 140);
    color:white;
    cursor: pointer;
    transition: opacity 300ms;
}
.toggle :hover{
    opacity: 0.8;
}
.toggle-check:checked ~.containerEditar{
    max-width :220px;
}
.toggle-check:checked ~ .containerEditar .ediatr{
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0) ;
}
/*------------------------------------------------------*/
/*imagende de foto de perfil*/


.foto_perfil h2 {
    margin-top: 20px;
    font-size: 40px;
    color: rgb(110, 117, 123);
}
.foto_perfil .box_img_user {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.foto_perfil img {
    background: rgb(172, 173, 175);
    border-radius: 50%;
    filter: opacity(40%);
}
/*---------------------------------------------------------*/
/*datos de usuario*/



.infromacion_perfil form input{
  width: 40%;
  margin-top: 4px;
  margin-bottom:4px;
  padding: 8px;
  border: none;
  background: rgb(215, 221, 221);
  font-size: 12px;
  outline: none;
  border-radius: 15px;
  
}
.infromacion_perfil form h1{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(110, 117, 123);
}
.infromacion_perfil form h5{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(94, 100, 105);
}
/*-------------------------------------------------------------------*/
/*datos medio de pagos tarjeta*/
.tarjeta{
    margin-left:20px;
    margin-top:10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 150%;
}
.tarjeta form h1{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(110, 117, 123);
}
.tarjeta form h5{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(94, 100, 105);
}
.tarjeta form input{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  border: none;
  background: rgb(215, 221, 221);
  font-size: 14px;
  outline: none;
  border-radius: 15px;
}

/*imgen de la tarjeta*/
.img_tarjeta img {
    width: 250px;
    margin-top: 20px;
    margin-left: 25px;
    align-items: center;
    height: auto;
}
.tarjeta .ediatr {
    padding: 5px 40px;
    margin-top: 40px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    background: rgb(94, 124, 163);
    color: white;
    cursor: pointer;
    outline: none;
}
.tarjeta .quitar {
    padding: 5px 40px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    background: rgb(170, 60, 60);
    color: white;
    cursor: pointer;
    outline: none;
}


/*responsid*/
@media (max-width: 1020px) {

    .container_header,
    main {
        padding: 20px;
    }
    #icon_menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .menu {
        height: 0px;
        position: relative;
        right: 10px;
        top: 140px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgb(95, 93, 93);
        border-radius: 8%;
        transition: all 300ms;
    }
    .menu nav ul {
        padding: 20px 0px;
        flex-direction: column;
        background-color: rgba(209, 209, 209, 0.829);
    }
    .menu nav ul li {
        padding: 10px 40px;
    }
    .mostrar_menu {
        height: 300px;
    }

}
:root {
    --primary-color: hsl(195, 4%, 20%);
    --primary-color-alt: hsl(212, 61%, 61%);
    --second-color: #848689;
    --second-color-alt: rgba(7, 7, 7, 0.65);
    --third-color: hsl(220, 36%, 28%);
    --white-color: #fbfbfb;
    --white-color-alt: hsl(9, 10%, 87%);
    --fondo-color: #f5f5f5;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 
    100%;
    height: auto;
  }
  .bx {
    font-size: 2.5rem;
  }
  .container {
    padding: 0 2rem;
  }
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--white-color);

  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 1rem 2rem;
  }
  .company-logo {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  .nav-items {
    display: flex;
  }
  .nav-item {
    margin: 0 2rem;
  }
  .nav-link {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    position: relative;
    background: -webkit-linear-gradient(
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-link::before {
    content: "";
    background: linear-gradient(var(--primary-color), var(--primary-color-alt));
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu-toggle {
    display: none;
  }
  .bx-menu,
  .bx-x {
    cursor: pointer;
    background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    display: none !important;
  }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 1rem;
    }
    /* ================= HEADER ================ */
    header {
      padding: 0.5rem 1rem;
    }
    .navbar {
      background-color: var(--dark-color);
      position: absolute;
      top: 3.5rem;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 500ms;
    }
    .show-navbar {
      display: flex;
      transform: scaleY(1);
      transform-origin: top;
      transition: transform 300ms;
    }
    .nav-items {
      display: flex;
      flex-direction: column;
    }
    .nav-item {
      margin: 0.5rem 0;
    }
    .menu-toggle {
      display: block;
    }
    .bx-menu {
      display: block !important;
    }
    .show-bx {
      display: block !important;
    }
    .hide-bx {
      display: none !important;
    }
  }
  @media (min-width: 769px) {
    header {
      padding: 1rem 5rem;
    }
}
/*---boton regresar*/
.btn_regresar {
    width: 15%;
    border-radius: 50px;
    margin: 10px;
    padding: 4px 10px;
    border: none;
    background-color: rgb(79, 79, 76);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background, color, 300ms;
    align-items: center;
  }
    
  .btn_regresar:hover {
    background: cornflowerblue;
    color: white;
  }
  /*card credito*/
  .btn_card {
    width: 15%;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 10px;
    border: none;
    background-color: rgb(9, 81, 119);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background, color, 300ms;
    align-items: center;
  }
    
  .btn_card:hover {
    background: rgb(5, 37, 96);
    color: white;
  }
  #nueva_imagen{
    visibility: hidden;
  }